<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href=""><span class="glyphicon glyphicon-user"></span> How this example Works</a>
      </li>
      <li>
        <a href="/cool"><span class="glyphicon glyphicon-user"></span> Cool ASCII faces</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Reference <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://developer.spotify.com/my-applications/">Spotify API Apps</a></li>
            <li><a href="https://developer.spotify.com/web-api/console/get-search-item/">Spotify API Console</a></li>
            <li><a href="https://developer.spotify.com/web-api/code-examples/">Web API code examples</a></li>
            <li class="divider"></li>
            <li><a href="https://devcenter.heroku.com/">Heroku Devcenter Docs</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-heroku-and-connect-without-local-dev">Getting Started on Heroku with Heroku Connect</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://www.linkedin.com/in/matiasherranz/" target="_blank"><span class="glyphicon glyphicon-book"></span> About Matías</a>
      </li>
    </ul>
  </div>
</nav>
