<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/Spotify_Icon_RGB_Green.png">
    </a>
    <h1>Welcome! <%= ascii_face %></h1>
    <p>To get the full of the Spotify API (or anything at all :-P) you need to be logged in.</p>
    <p>Let's take it from there!</p>

    <a type="button" class="btn btn-lg btn-default" href="/login"><span class="glyphicon glyphicon-flash"></span> Login now! </a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/matiasherranz/play"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>

  </div>
</div>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To start, click on the "Login Now!" button, and the app will guide you through the next steps.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku.</li>
        <li>It consists of a simple EspressJS / NodeJS backend, and a ReactJS / Redux / Thunk Frontend.</li>
        <li>The first step is to click the "Login" button, connect to Spotify.</li>
        <li>Once this is done, you'll get the login information from Spotify and a button to click-and-go to a cool little app that uses Spotify API.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">Deploying Node Apps on Heroku</a></li>
      </ul>
    </div>
  </div> <!-- row -->

   <div class="alert alert-info text-center" role="alert">
    Have fun!
  </div>
</div>


</body>
</html>
